.u-block-0960-2 {
  position: absolute;
  left: calc(((100% - 1140px) / 2) + 541px);
  top: auto;
  right: auto;
  bottom: 294px;
}

.u-block-0960-3 {
  background-image: none;
}

.u-block-0960-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-block-0960-2 {
    left: calc(((100% - 940px) / 2)  + 441px);
  }
}

@media (max-width: 991px) {
  .u-block-0960-2 {
    left: calc(((100% - 720px) / 2)  + 331px);
  }
}

@media (max-width: 767px) {
  .u-block-0960-2 {
    left: calc(((100% - 540px) / 2)  + 241px);
  }
}

@media (max-width: 575px) {
  .u-block-0960-2 {
    left: calc(((100% - 340px) / 2)  + 141px);
  }

  .u-block-0960-3 {
    position: absolute;
    left: calc(((100% - 340px) / 2)  + -27px);
    width: 65px;
    height: 65px;
    top: auto;
    right: auto;
    bottom: 236px;
    padding: 13px;
  }

  .u-block-0960-4 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: auto;
    right: calc(((100% - 340px) / 2)  + -27px);
    bottom: 236px;
    padding: 13px;
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/MP-Doran-at-MPC.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 524px 604px 0 -301px;
}

.u-section-1-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 796px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    width: 837px;
    margin-right: 504px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 376px;
    margin-bottom: 0;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 497px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 27px;
    margin-right: 196px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 493px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 2.75rem;
    margin-top: 31px;
    margin-right: 0;
    margin-left: 23px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1765577770_8cc6bf7bc4_c1.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 446px 697px 0 0;
}

.u-section-1-2 .u-text-2 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  margin: 0 697px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    width: 837px;
    margin-right: 497px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 497px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-2 .u-text-2 {
    margin: -21px 277px 2px 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 439px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3rem;
    margin-top: 6px;
    margin-right: 97px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 435px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 2.75rem;
    margin: -22px 0 34px 23px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/fullsizerender_1.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 837px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 662px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-4 {
  background-image: url("images/68249989_2406209982984944_6244238976383713280_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 780px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 647px;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #e13690, #f97e83);
}

.u-section-2 .u-sheet-1 {
  min-height: 1306px;
}

.u-section-2 .u-text-1 {
  margin: 171px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 523px;
  grid-gap: 15px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-text-11 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-2 .u-text-14 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-16 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-2 .u-text-17 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-19 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 782px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 431px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-8 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-11 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-14 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-17 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 755px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 612px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  width: 682px;
  margin: 10px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 995px;
  margin: 99px auto 41px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 326px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 91px 10px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 900;
  margin: 10px 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 8px 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 91px 20px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 900;
  margin: 10px 10px 0;
}

.u-section-3 .u-text-8 {
  margin: 8px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 23px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 91px 7px 0;
}

.u-section-3 .u-text-10 {
  font-weight: 900;
  margin: 10px 14px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 8px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 403px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-4 .u-accordion-link-1 {
  font-weight: 700;
  background-image: none;
  padding: 25px 20px;
}

.u-section-4 .u-icon-1 {
  height: 15px;
  width: 15px;
  color: rgb(255, 255, 255);
  background-image: none;
  padding: 3px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px 20px;
}

.u-section-4 .u-accordion-link-2 {
  font-weight: 700;
  background-image: none;
  padding: 25px 20px;
}

.u-section-4 .u-icon-2 {
  height: 15px;
  width: 15px;
  color: rgb(255, 255, 255);
  background-image: none;
  padding: 3px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px 20px;
}

.u-section-4 .u-accordion-link-3 {
  font-weight: 700;
  background-image: none;
  padding: 25px 20px;
}

.u-section-4 .u-icon-3 {
  height: 15px;
  width: 15px;
  color: rgb(255, 255, 255);
  background-image: none;
  padding: 3px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px 20px;
}

.u-section-4 .u-accordion-link-4 {
  font-weight: 700;
  background-image: none;
  padding: 25px 20px;
}

.u-section-4 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-5 {
  font-weight: 700;
  background-image: none;
  padding: 25px 20px;
}

.u-section-4 .u-icon-5 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 305px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 30px auto 30px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}